<div class="modal-header">
    <h2>Кабінетні системи</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<!-- slider for product items start-->
<div class="swiper main-swiper">
    <div class="swiper-wrapper">
        <!-- product 2 start -->
        <div class="swiper-slide active">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators2" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-2-1.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-2-2.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-2-3.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-2-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x35 біла осн/біла кришка ш300 /г 500/ в1200</h3>
                    <p>Модель: EVAMINI1035BB</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>12 588.48 грн (338.40 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <p>Розчин солі пропускається через фільтруючий матеріал, а видалені солі кальцію і магнію
                            змиваються в каналізацію.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 2, 2.5 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1 ", 3/4 "</li>
                            <li>Габаритні розміри: ш300 /г 500/ в1200</li>
                            <li>Витрата солі на одну регенерацію: 3 кг</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Витрата води для промивання фільтруючого матеріалу: 200 л</li>
                            <li>Колір основи системи: біла кришка, біла основа</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 2 end -->

        <!-- product 3 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators3" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-3.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x35 чорна осн/чорна кришка ш300 /г 500/ в1200</h3>
                    <p>Модель: EVAMINI1035KK</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>12 588.48 грн (338.40 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <p>Розчин солі пропускається через фільтруючий матеріал, а видалені солі кальцію і магнію
                            змиваються в каналізацію.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 2, 2.5 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1 ", 3/4 "</li>
                            <li>Габаритні розміри: ш300 /г 500/ в1200</li>
                            <li>Витрата солі на одну регенерацію: 3 кг</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Витрата води для промивання фільтруючого матеріалу: 200 л</li>
                            <li>Колір основи системи: чорна основа, чорна кришка</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 3 end -->

        <!-- product 4 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators4" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Euraqua WSC1 Mini Flamingo 1017</h3>
                    <p>Модель: FLEFl1017</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>41 180.40 грн (1 107.00 $)</p>
                    </div>
                    <div class="description-text">
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення:</li>
                            <li>Продуктивність, л/доба:</li>
                            <li>Робоча температура:</li>
                            <li>Робочий тиск:</li>
                            <li>Приєднувальний розмір:</li>
                            <li>Номінальна продуктивність:</li>
                            <li>Габаритні розміри:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 4 end -->

        <!-- product 5 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators5" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-5.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Saturn-M 1017 ш300/ г440/ в540</h3>
                    <p>Модель: Flsat1017</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>21 637.38 грн (581.65 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Пом'якшувач має додаткові функції, наприклад, сповіщення про додавання солі, режим відпустки
                            та сигналізація.
                        </p>
                        <p>Стандартні функції пом'якшувача води SATURN M:</p>
                        <ul>
                            <li>- байпас сирої води, який дозволяє використовувати воду в циклах регенерації;</li>
                            <li>- змішувач води для регулювання жорсткості води;</li>
                            <li>- багатомовне меню: PL, ENG, DE, IT, FR, ES, ZH;</li>
                            <li>- захист від затоплення;</li>
                            <li>
                                - режим відпустки для затримки циклів регенерації при зниженні споживання помірної води;
                            </li>
                            <li>- сигналізація поповнення солі,</li>
                            <li>- сервісна сигналізація.</li>
                        </ul>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від солей жорсткості (пом'якшення)</li>
                            <li>Продуктивність, л/доба: 1 м³/год</li>
                            <li>Робоча температура: 2 - 30 °C</li>
                            <li>Робочий тиск: 1.5 - 6 бар</li>
                            <li>Приєднувальний розмір: 3/4"</li>
                            <li>Габаритні розміри: ш300/ г440/ в540</li>
                            <li>Розмір резервуара для завантаження: 1017</li>
                            <li>Тривалість регенерації: 90 хв</li>
                            <li>Витрата солі на одну регенерацію: промивка сіллю</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 5 end -->

        <!-- product 6 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators6" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-6.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Saturn-XL 1035 ш300/ г440/ в1040</h3>
                    <p>Модель: Flsat1035</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>27 655.97 грн (743.44 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Побутовий пом'якшувач води з мінімалістичним дизайном SATURN XL 1035 пом’якшує вдвічі більше
                            води, ніж модель SATURN M 1017. Пом'якшувач має додаткові функції, як, наприклад, сповіщення
                            про додавання солі, режим відпустки та сигналізація.
                        </p>
                        <p>Стандартні функції пом'якшувача води SATURN XL:</p>
                        <ul>
                            <li>- байпас сирої води, який дозволяє використовувати воду в циклах регенерації;</li>
                            <li>- змішувач води для регулювання жорсткості води;</li>
                            <li>- багатомовне меню: PL, ENG, DE, IT, FR, ES, ZH;</li>
                            <li>- захист від затоплення;</li>
                            <li>
                                - режим відпустки для затримки циклів регенерації при зниженні споживання помірної води;
                            </li>
                            <li>- сигналізація поповнення солі;</li>
                            <li>- сервісна сигналізація.</li>
                        </ul>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 1.5 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 3/4''</li>
                            <li>Габаритні розміри: ш300/ г440/ в1040</li>
                            <li>Розмір резервуара для завантаження: 1035</li>
                            <li>Тривалість регенерації: 90 хв</li>
                            <li>Витрата солі на одну регенерацію: 2.5, 3.8 кг</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 6 end -->

        <!-- product 7 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators7" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-7.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система пом'якшення кабінетного типу Lucy 850SE-Maxi з хлоратором</h3>
                    <p>Модель: Lucy1035</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>45 331.92 грн (1 218.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Система пом'якшення води Lucy 850SE-Maxi - компактний фільтр кабінетного типу з хлоратором,
                            орієнтований на видалення солей жорсткості (кальцію і магнію). Іони кальцію і магнію
                            обмінюються на еквівалентну кількість іонів натрію, в результаті чого знижується жорсткість
                            без внесення суттєвих змін до загального солевмісту води. Фільтр захищає від утворення
                            накипу водонагрівальні елементи та оберігає побутову техніку від передчасних поломок. Також
                            ви будете економити до 50% миючих засобів і прального порошку, тому, що м'яка вода набагато
                            краще піниться. В комплекті смола - 25 л. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Фільтр має компактні розміри, тому його можна
                            встановити в будь-якому невеликому приміщенні.
                        </p>
                        <p>Переваги фільтра Lucy 850SE-Maxi:</p>
                        <ul>
                            <li>- Унікальний і практичний дизайн;</li>
                            <li>- Сенсорний екран зі зручним меню;</li>
                            <li>- Європейський виробник;</li>
                            <li>
                                - До 50% економії прального порошку і побутової хімії та до 30% економії електроенергії;
                            </li>
                            <li>- Опція: хлоратор;</li>
                            <li>- Сертифікація якості WRAS.</li>
                        </ul>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: пом'якшення</li>
                            <li>Продуктивність, л/доба: 48000</li>
                            <li>Робоча температура: 2 - 30 °С</li>
                            <li>Робочий тиск: 2 - 6</li>
                            <li>Приєднувальний розмір: 1''</li>
                            <li>Номінальна продуктивність: 1.3 м3/год</li>
                            <li>Габаритні розміри: 30 х 90 см</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 7 end -->

        <!-- product 8 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators8" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-8-1.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-8-2.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-8-3.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-8-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x17 біла осн/біла кришка ш300/ г500/ в741</h3>
                    <p>Модель: EVAINI1017BB</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>10 847.52 грн (291.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <p>Розчин солі пропускається через фільтруючий матеріал, а видалені солі кальцію і магнію
                            змиваються в каналізацію.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 1 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1''</li>
                            <li>Габаритні розміри: ш300/ г500/ в741</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Колір основи системи: біла кришка, біла основа</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 8 end -->

        <!-- product 9 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators9" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-9-1.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-9-2.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-9-3.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-9-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x17 біла осн/синя кришка ш300/ г500/ в741</h3>
                    <p>Модель: EVAMINI1017BC</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>10 847.52 грн (291.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <p>Розчин солі пропускається через фільтруючий матеріал, а видалені солі кальцію і магнію
                            змиваються в каналізацію.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 1 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1''</li>
                            <li>Габаритні розміри: ш300/ г500/ в741</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Колір основи системи: біла основа, синя кришка</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 9 end -->

        <!-- product 10 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators10" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-10-1.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-10-2.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-10-3.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-10-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x35 біла осн/чорна кришка ш300 /г 500/ в1200</h3>
                    <p>Модель: EVAMINI1035BC</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>12 588.48 грн (338.40 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 2, 2.5 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1 ", 3/4 "</li>
                            <li>Габаритні розміри: ш300 /г 500/ в1200</li>
                            <li>Витрата солі на одну регенерацію: 3 кг</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Витрата води для промивання фільтруючого матеріалу: 200 л</li>
                            <li>Колір основи системи: біла основа, синя кришка</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 10 end -->

        <!-- product 11 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators11" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-11.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators11" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Clack CWS35 (в зборі) сіра основа/синя кришка ш350/ г520/
                        в1130</h3>
                    <p>Модель: FLCss35</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>19 083.60 грн (513.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Компанія Clack розробила кабінет для пом'якшення води, що підходить для будь-якої моделі
                            регулюючого клапана 1" або 1.25". Його верхня кришка зсувається для спрощення додавання солі
                            до системи без зняття кришки. Цей новий дизайн пропонує унікальне вікно відкидного доступу,
                            яке дозволяє програмувати клапан, не знімаючи кришку. У конструкцію була включена нова
                            система соляного клапана/сольового колодязя, яка забезпечує повний доступ до системи
                            сольового клапана для обслуговування без необхідності розбирання всієї системи. Кришка
                            корпусу підходить для численних клапанів. Підходить під будь-який вид фільтруючого
                            завантаження.
                        </p>
                        <p>Комплектація:</p>
                        <ul>
                            <li>Корпус фільтра 10X35"–2.5" PWG</li>
                            <li>Труба Ø 1,05" з нижнім дистрибютором L - 35"</li>
                            <li>Куток переливу</li>
                            <li>Сольова система</li>
                        </ul>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 3/4''</li>
                            <li>Номінальна продуктивність: 1,2 м3</li>
                            <li>Габаритні розміри: ш350/г520/в1130</li>
                            <li>Витрата солі на одну регенерацію: 4 кг</li>
                            <li>Колір основи системи: сіра основа, синя кришка</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 11 end -->

        <!-- product 1 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-1-1.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="./src/images/merchandise-page/Cabinet-systems/product-1-2.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Система фільтрації кабінетного типу Eva 10x17 чорна осн/чорна кришка ш300/ г500/ в741</h3>
                    <p>Модель: EVAMINI1017BLBL</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>10 847.52 грн (291.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Системи пом'якшення води кабінетного типу розроблені для використання в побутових цілях у
                            тих випадках, коли місце установки обмежено. У фільтрах кабінетного типу корпус фільтра і
                            бак-солерозчинник суміщені в одному блоці. Застосовуються в квартирах, приватних будинках,
                            кафе, ресторанах і так далі.
                            Призначення: призначений для усунення з води солей жорсткості кальцію і магнію. Пом'якшення
                            води відбувається методом іонного обміну. Підходить для очищення питної та технічної води з
                            підземних джерел або міського водопроводу. Для пом'якшення використовується катіонообмінна
                            смола (термін служби фільтруючого матеріалу – до 7 років).
                        </p>
                        <p>Система пом'якшення води призначений для очищення води від підвищеного змісту:</p>
                        <ul>
                            <li>- солей жорсткості;</li>
                            <li>- заліза (до 0,9 мг/)</li>
                        </ul>
                        <p>Розчин солі пропускається через фільтруючий матеріал, а видалені солі кальцію і магнію
                            змиваються в каналізацію.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Призначення: від заліза, від марганцю, від солей жорсткості (пом'якшення води)</li>
                            <li>Продуктивність, л/доба: 1 м³/год</li>
                            <li>Робоча температура: 2 -30 °C</li>
                            <li>Робочий тиск: 2 - 6 бар</li>
                            <li>Приєднувальний розмір: 1''</li>
                            <li>Габаритні розміри: ш300/ г500/ в741</li>
                            <li>Спосіб регенерації: промивка сіллю</li>
                            <li>Колір основи системи: чорна основа, чорна кришка</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 1 end-->
    </div>
    <!-- slider for product items end-->
    <div class="modal-footer">
        <div class="product-item-slider-controls">
            <button class="swiper-button-prev" id="productItemSliderPrevious"><svg xmlns="http://www.w3.org/2000/svg"
                    width="7" height="8" viewBox="0 0 7 8" fill="none">
                    <path
                        d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM7 3.5L1 3.5V4.5L7 4.5V3.5Z"
                        fill="black" />
                </svg><span>Попередній товар</span>
            </button>
            <button class="swiper-button-next" id="productItemSliderNext"><span>Наступний
                    товар</span><svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"
                    fill="none">
                    <path
                        d="M6.35355 4.35355C6.54882 4.15829 6.54882 3.84171 6.35355 3.64645L3.17157 0.464466C2.97631 0.269204 2.65973 0.269204 2.46447 0.464466C2.2692 0.659728 2.2692 0.976311 2.46447 1.17157L5.29289 4L2.46447 6.82843C2.2692 7.02369 2.2692 7.34027 2.46447 7.53553C2.65973 7.7308 2.97631 7.7308 3.17157 7.53553L6.35355 4.35355ZM0 4.5L6 4.5V3.5L0 3.5L0 4.5Z"
                        fill="black" />
                </svg>
            </button>
        </div>
    </div>
