<div class="modal-header">
    <h2>Картриджі</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<!-- slider for product items start-->
<div class="swiper main-swiper">
    <div class="swiper-wrapper">
        <!-- product 5 start -->
        <div class="swiper-slide active">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators5" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-5.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10" BB 20 мкм для видалення сірководню і заліза</h3>
                    <p>Модель: FLGACPLUS10BB20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>803.52 грн (21.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Картридж Filtrons 10'' BB 20 мкм призначений для очищення питної води.</p>
                        <p>Видаляє з води залізо, марганець і сірководень, хлор, хлораміни, пестициди і нафтопродукти.
                            Покращує колір та запах води.
                        </p>
                        <p>Фільтруючий матеріал – каталітичне вугілля GAC PLUS.</p>
                        <p>Максимальний термін експлуатації - 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +25 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 4000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 5 end -->

        <!-- product 6 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators6" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-6.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10'' BB 20 мкм знезалізнення для холодної води</h3>
                    <p>Модель: FLG10ВВ20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>649.14 грн (17.45 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж Filtrons FLG 10” BB 20 мкм розроблений для очищення води від заліза. Очищення
                            здійснюється методом лужного висадження. В якості фільтра застосовується спеціальний
                            знезалізнюючий сорбент – природний матеріал, що володіє унікальними властивостями.
                        </p>
                        <p>
                            Видаляються розчинене залізо, іржа, важкі метали, а також коригується рівень Ph. Картридж
                            усуває присмак і запах заліза. Використовуються в проточних магістральних колбах стандарту
                            Big Blue 10".
                        </p>
                        <p>Фільтруючий матеріал – спеціальний знезалізнюючий сорбент.</p>
                        <p>Максимальний термін експлуатації - 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +25 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 4000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 6 end -->

        <!-- product 7 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators7" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-7.jpg" />
                        </div>

                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10" BB 20 мкм пом'якшуючий для холодної води</h3>
                    <p>Модель: FLUM10ВВ20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>930.00 грн (25.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Filtrons FLUM 10” BB 20 мкм - пом'якшуючий картридж від українського виробника. Має
                            типорозмір 10" Big Blue. Призначений для зниження жорсткості води.
                        </p>
                        <p>
                            Як фільтруючий матеріал використовується іонообмінна смола DOWEX™. З її допомогою
                            видаляються солі жорсткості, але зберігаються всі корисні мінеральні елементи. В результаті
                            вода стає м'якшою, смачнішою і кориснішою для здоров'я. Покращуються смакові якості та запах
                            води, залишаючи на виході м'яку питну воду хорошої якості.
                        </p>
                        <p>Завдяки цьому картриджу ви забудете про утворення відкладень на сантехніці та накипу на
                            поверхні нагрівальних елементів побутових приладів.
                        </p>
                        <p>Затримує іони кальцію.</p>
                        <p>Максимальний термін експлуатації - 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +25 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 4000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 7 end -->

        <!-- product 8 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators8" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-8.png" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' SLIM 5 мкм вугільний брикетований для холодної води</h3>
                    <p>Модель: FLCBC10SL5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>186.00 грн (5.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Як фільтрувальний матеріал використовується спресоване активоване вугілля зі шкаралупи
                            кокосових горіхів.
                        </p>
                        <p>
                            Картридж видаляє з води хлор і хлорорганічні сполуки, знижує концентрацію важких і
                            кольорових металів, а також фенолу, нафтопродуктів і пестицидів.
                        </p>
                        <p>Коригує колір, смак і запах води.</p>
                        <p>
                            Завдяки своїй спресованій структурі, затримує механічні домішки розміром до 10 мкм.
                        </p>
                        <p>Картридж із спресованого вугілля Filtrons 10" SLIM 5 мкм має збільшений ресурс по хлору - до
                            8 000 літрів.
                        </p>
                        <p>
                            Використовується для третьої стадії очищення води в потрійних фільтрах і фільтрах зворотного
                            осмосу.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 5 мкм</li>
                            <li>Діапазон температур : від +4,4 до +52 С°</li>
                            <li>Ресурс: до 10000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Slim Line 10"</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 8 end -->

        <!-- product 9 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators9" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-9.png" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' SLIM 20 мкм для демінералізації холодної води</h3>
                    <p>Модель: FLDM10SL20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>322.15 грн (8.66 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж демінералізації використовується для глибокого очищення води, досягнення низької
                            провідності води до 0,2 мкм.
                        </p>
                        <p>
                            Застосовується під час підготовки води у лабораторіях, парогенераторах, зволожувачах тощо.
                        </p>
                        <p>
                            Картридж для демінералізації повинен застосовуватись після зворотного осмосу чи дистилятору.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 9 end -->

        <!-- product 10 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators10" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-10.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' SLIM 20 мкм знезалізнення для холодної води</h3>
                    <p>Модель: FLG10SL20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>241.80 грн (6.50 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Всередині картриджа для видалення заліза Filtrons 10" SLIM знаходиться суміш каталітичного
                            сорбційного матеріалу, високоякісного активованого вугілля та рН-коректора.
                        </p>
                        <p>
                            Картридж знижує вміст заліза та його сполук у водопровідній воді та воді зі свердловини, а
                            також зменшує концентрацію нафтопродуктів, пестицидів, коригує колір та запах води.
                        </p>
                        <p>
                            Корпус картриджа виготовлений з чистого європейського харчового пластика.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал:</li>
                            <li>Діапазон температур : від +4,4 до +43 С°</li>
                            <li>Ресурс: до 10000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Slim 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 10 end -->

        <!-- product 11 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators11" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-11.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators11" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' SLIM 20 мкм мінералізатор</h3>
                    <p>Модель: FLCALCITE10SL20AJ</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>286.44 грн (7.70 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж мінералізатор призначений для корекцій рН та не значного підняття рівня кальцію
                            удемінералізованії воді.
                        </p>
                        <p>Застосовується після систем зворотного осмосу.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 11 end -->

        <!-- product 12 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators12" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-12.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators12" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' SLIM 20 мкм пом'якшуючий для холодної води</h3>
                    <p>Модель: FLUM10SL20P</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>297.60 грн (8.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж пом'якшувальний Filtrons 10" SLIM 20 мкм виготовлений з високоякісної Na-катіонної
                            смоли.
                            Видаляє з води солі жорсткості. Запобігає утворенню накипу.
                            Ресурс і ступінь пом'якшення залежать від концентрації солей жорсткості у вихідній воді.
                            Ступінь пом'якшення змінюється в процесі експлуатації.
                        </p>
                        <p>Призначений для очищення питної води.</p>
                        <p>Затримує іони кальцію та магнію. Запобігає утворенню накипу.</p>
                        <p>Фільтруючий матеріал – іонообмінна смола DOWEX™.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +45 С°</li>
                            <li>Швидкість потоку: 3,8 л/хв</li>
                            <li>Ресурс: до 2000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 12 end -->

        <!-- product 13 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators13" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-13.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators13" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж EPM-10BB 155782-43 брикетоване вугілля</h3>
                    <p>Модель: 155782-43</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>1 993.92 грн (53.60 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж Pentek EPM-10-BB – складається з пресованого вугільного блоку, зовнішня
                            поліпропіленова оболонка якого грає роль префільтра грубої механічної очистки і призначений
                            для фільтрації хлору, видалення неприємного смаку та запаху води.
                        </p>
                        <p>
                            Ефективно видаляє з води активний хлор та інші органічні домішки (феноли, формальдегіди,
                            бензол та ін.)
                        </p>
                        <p>
                            Забезпечує механічне очищення води від частинок більше 10 мікронів.
                        </p>
                        <p>Фільтруючий матеріал – пресоване вугілля.</p>
                        <p>Максимальний термін експлуатації – 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 10 мкм</li>
                            <li>Діапазон температур : від +4,4 до +82,2 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 11400 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: 10“</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 13 end -->

        <!-- product 14 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators14" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-14.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж EPM-20 20sl' 10мкм 155635-43 брикетований</h3>
                    <p>Модель: 155635-43</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>1 463.08 грн (39.33 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж Pentek EPM-20-SLIM – складається з пресованого вугільного блоку, зовнішня
                            поліпропіленова оболонка якого грає роль префільтра грубої механічної очистки і
                            призначений
                            для фільтрації хлору, видалення неприємного смаку та запаху води.
                        </p>
                        <p>Ефективно видаляє з води активний хлор та інші органічні домішки (феноли, формальдегіди,
                            бензол та ін.)</p>
                        <p>Забезпечує механічне очищення води від частинок більше 10 мікронів.</p>
                        <p>Фільтруючий матеріал – пресоване вугілля.</p>
                        <p>Максимальний термін експлуатації – 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 10 мкм</li>
                            <li>Типорозмір корпусу: 20 SLIM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 14 end -->

        <!-- product 15 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators15" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-15.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж GAC-20ВВ' 20мкм 155249-43 гранульоване активоване вугілля</h3>
                    <p>Модель: 155249-43</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>3 594.26 грн (96.62 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж Pentek GAC-20 ВВ виготовлений з гранульованого активованого вугілля,
                            призначений для усунення органічних і хлор органічних домішок.
                        </p>
                        <p>Видаляє неприємні гази з води й поліпшує її смак.</p>
                        <p>
                            Найкращим чином застосовувати даний фільтруючий елемент в питних побутових системах
                            (проточного типу та системах зворотного осмосу) в якості другого ступеня очищення води,
                            а першою сходинкою завжди повинен встановлюватися картридж механічної очистки.
                        </p>
                        <p>
                            Картридж сконструйовано таким чином, що вода проходить цілком через весь фільтруючий
                            елемент, протягом максимального часу залишаючись у контакті з вугіллям, що забезпечує
                            максимальний рівень поглинання забруднень, внутрішній розширювач перешкоджає потоку води
                            в обхід капсули з вугіллям. У фільтруючий елемент вбудований 20-мікронний постфільтр для
                            видалення мікрочастинок вугілля та інших механічних забруднень.
                            Фільтруючий матеріал – гранульоване активоване вугілля.
                            Максимальний термін експлуатації – 6 місяців.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Типорозмір корпусу: 20 ВВ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 15 end -->

        <!-- product 16 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators16" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-16.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators16" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж PD-25-934 10sl POLYDEPTH 9 3/4' 25мкм 155751-43</h3>
                    <p>Модель: 155751-43</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>314.71 грн (8.46 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Картридж Pentek PD-25-934 (з термостійкого поліпропілену) призначений для фільтрації гарячої
                            води (до 79°C).
                        </p>
                        <p>
                            Поверхня картриджа покрита мікро жолобками, які значно збільшують фільтруючу поверхню.
                            Поліпропіленові волокна володіють високою стійкістю до впливу бактерій і хімікатів. Картридж
                            придатний до використання як в побутових цілях, так і в муніципальних і комерційних системах
                            очищення води.
                        </p>
                        <p>Знижує кількість механічних домішок.</p>
                        <p>Видаляє пісок, іржу, тверді частини та ін.</p>
                        <p>Фільтруючий матеріал – поліпропіленове волокно.</p>
                        <p>Максимальний термін експлуатації - 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 25 мкм</li>
                            <li>Діапазон температур: від +4,4 до +79,4 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 10000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 16 end -->

        <!-- product 17 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators17" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-17.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators17" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж поліпропіленовий Pallas 10' BB 5 мкм</h3>
                    <p>Модель: Pallas-PO-10BB5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>186.00 грн (5.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Поліпропіленовий картридж Pallas 10' BB 5 мкм призначений для попередньої фільтрації.</p>
                        <p>
                            Використовується у побутових системах очищення води. Картридж застосовується як перша стадія
                            фільтрації, видаляючи всілякі забруднення. Залежно від цього він усуває як великі, так і
                            дрібні частинки бруду, піску, іржі та інших домішок.
                        </p>
                        <p>
                            Для ефективного очищення води картридж складається з кількох шарів. Це гарантує якісну
                            фільтрацію до 80% забруднень (з рештою впораються інші картриджі). Термін служби цього
                            пристрою невеликий – 6 місяців, а ресурс – до 6000 л води. Це пояснюється тим, що він
                            приймає перший удар і видаляє велику кількість забруднень. Втім, і коштує він недорого.
                        </p>
                        <p>
                            Крім ефективної фільтрації до переваг картриджа відноситься можливість якісного очищення при
                            низькому перепаді тиску та стійкість до хімічних речовин.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 5 мкм</li>
                            <li>Швидкість потоку: 38л/хв</li>
                            <li>Типорозмір корпусу: 10' ВВ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 17 end -->

        <!-- product 18 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators18" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-18.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators28" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж поліпропіленовий мотузковий 10' SLIM 5 мкм Pallas</h3>
                    <p>Модель: Pallas-MO-10SLIM5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>96.72 грн (2.60 $)</p>
                    </div>
                    <div class="description-text">
                    </div>
                </div>
            </div>
        </div>
        <!-- product 18 end -->

        <!-- product 19 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators19" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-19.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators19" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж поліпропіленовий 20' ВВ 5 мкм (етикетка Pallas)</h3>
                    <p>Модель: FLPl20ВВ5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>353.40 грн (9.50 $)</p>
                    </div>
                    <div class="description-text">
                    </div>
                </div>
            </div>
        </div>
        <!-- product 19 end -->

        <!-- product 20 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-20.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators20" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж поліпропіленовий мотузковий 20' BB 5 мкм (етикетка Pallas)</h3>
                    <p>Модель: FLVRl20BB5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>781.94 грн (21.02 $)</p>
                    </div>
                    <div class="description-text">
                    </div>
                </div>
            </div>
        </div>
        <!-- product 20 end -->

        <!-- product 1 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-1.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' BB 20 мкм вугільний гранульований для холодної води</h3>
                    <p>Модель: FLGACP10ВВ20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>632.40 грн (17.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Всередині картриджа — 100% високоякісне гранульоване активоване вугілля зі шкаралупи
                            кокосових горіхів.
                        </p>
                        <p>Картридж видаляє з води хлор та хлорорганічні сполуки, зменшує концентрацію важких та
                            кольорових металів, а також фенолу, нафтопродуктів та пестицидів. Коригує колір та запах
                            води.
                            Картридж з гранульованим активованим вугіллям Filtrons 10" BB має збільшений ресурс по хлору
                            — 30 000 літрів.
                        </p>
                        <p>Підходить до фільтрів інших виробників зі стандартним типорозміром 4,5"х10".</p>
                        <p>Підходть для будинку чи квартири, де проживає до 5 осіб.</p>
                        <p>Картридж встановлюється в колбу типу BB10.</p>
                        <p>Основні переваги</p>
                        <p>Прозора вода без запаху — в картриджі 100% гранульоване вугілля зі шкарлупи кокосових
                            горіхів.</p>
                        <p>Збільшений ресурс — 30 000 літрів.
                            Видаляє хлор, органічні домішки, корегує колір та запах води.
                        </p>
                        <p>Матеріал корпусу — чиста європейська харчова пластмаса.
                            Підходить до фільтрів зворотного осмосу інших виробників.
                        </p>
                        <p>Картридж підходить для доочищення лише холодної водопровідної води чи води зі свердловини.
                        </p>
                        <p>Ресурс картриджа залежить від якості води, яка на нього подається.</p>
                        <p>Не варто перевищувати рекомендовану швидкість фільтрування, це може стати причиною погіршення
                            якості очищення води.</p>
                        <p>Перед використанням картридж необхідно занурити в холодну воду та тримати не менше 8 годин.
                        </p>
                        <p>Після встановлення нового картриджа слід злити не менше 10 літрів відфільтрованої води в
                            каналізацію.</p>
                        <p>Для отримання чистої води, рекомендуємо міняти картриджі 1 раз на 3 місяці, незалежно від
                            об’єму відфільтрованої води.</p>

                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +25 С°</li>
                            <li>Швидкість потоку: 15,1 л/хв</li>
                            <li>Ресурс: до 10000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 1 end-->

        <!-- product 2 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators2" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-2.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' BB 5 мкм вугільний брикетований для холодної води</h3>
                    <p>Модель: FLCBC10BB5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>558.00 грн (15.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Картридж Filtrons 10” BB 5 мкм вугільний брикетований призначений для очищення питної води.
                        </p>
                        <p>У якості фільтрувального матеріалу використовується спресоване активоване вугілля зі
                            шкаралупи кокосових горіхів.</p>
                        <p>Картридж видаляє з води хлор та хлорорганічні сполуки, зменшує концентрацію важких та
                            кольорових металів, а також фенолу, нафтопродуктів та пестицидів. Коригує колір та запах
                            води. Завдяки своїй спресованій структурі, затримує механічні домішки розміром до 10 мкм.
                        </p>
                        <p>Максимальний термін експлуатації – 6 місяців.</p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 5 мкм</li>
                            <li>Діапазон температур : від +4,4 до +52 С°</li>
                            <li>Швидкість потоку: 7,6 л/хв</li>
                            <li>Ресурс: до 12000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 2 end -->

        <!-- product 3 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators3" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-3.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' BB 5 мкм шнурковий поліпропіленовий для холодної/гарячої води</h3>
                    <p>Модель: FLVR10ВВ5</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>297.60 грн (8.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Поліпропіленовий картридж Filtrons 10'' SLIM 20 мкм призначений для попередньої фільтрації.
                            Використовується у побутових системах очищення води. Картридж застосовується як перша стадія
                            фільтрації, видаляючи всілякі забруднення. Залежно від цього він усуває як великі, так і
                            дрібні частинки бруду, піску, іржі та інших домішок.</p>
                        <p>Для ефективного очищення води картридж складається з кількох шарів. Це гарантує якісну
                            фільтрацію до 80% забруднень (з рештою впораються інші картриджі).</p>
                        <p>Термін служби цього пристрою невеликий – 3-6 місяців, а ресурс – до 6000 л води. Це
                            пояснюється тим, що він приймає перший удар і видаляє велику кількість забруднень. Втім, і
                            коштує він недорого.
                            Крім ефективної фільтрації до переваг картриджа відноситься можливість якісного очищення при
                            низькому перепаді тиску та стійкість до хімічних речовин.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 5 мкм</li>
                            <li>Діапазон температур : від +4,4 до +79,4 С°</li>
                            <li>Швидкість потоку: 38 л/хв</li>
                            <li>Ресурс: до 16000 л</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 3 end -->

        <!-- product 4 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators4" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Cartriges/product-4.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>Картридж 10' BB 20 мкм комплексного очищення</h3>
                    <p>Модель: FLMIX10BB20</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>811.70 грн (21.82 $)</p>
                    </div>
                    <div class="description-text">
                        <p>Картридж Filtrons 10'' BB 20 мкм підходить до будь-яких колб типорозміру Big Blue 10 “.
                            Усередині картриджа знаходиться мікс фільтрувальних матеріалів, завдяки цьому можливо
                            одночасно очистити або зменшити рівень забруднення води за кількома параметрами:
                        </p>
                        <ol>
                            <li>Хлор і хлорорганічні сполуки.</li>
                            <li>Розчинене залізо.</li>
                            <li>Жорсткість води.</li>
                        </ol>
                        <p>Ресурс картриджа - до 1500-2000 л. Настійно рекомендуємо перед таким фільтром встановлювати
                            картридж від механічних забруднень.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Мікронний номінал: 20 мкм</li>
                            <li>Діапазон температур : від +4,4 до +25 С°</li>
                            <li>Ресурс: до 2000 л (залежить від якості води)</li>
                            <li>Типорозмір корпусу: Big Blue 10 “</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 4 end -->
    </div>
    <!-- slider for product items end-->
    <div class="modal-footer">
        <div class="product-item-slider-controls">
            <button class="swiper-button-prev" id="productItemSliderPrevious"><svg xmlns="http://www.w3.org/2000/svg"
                    width="7" height="8" viewBox="0 0 7 8" fill="none">
                    <path
                        d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM7 3.5L1 3.5V4.5L7 4.5V3.5Z"
                        fill="black" />
                </svg><span>Попередній товар</span>
            </button>
            <button class="swiper-button-next" id="productItemSliderNext"><span>Наступний
                    товар</span><svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"
                    fill="none">
                    <path
                        d="M6.35355 4.35355C6.54882 4.15829 6.54882 3.84171 6.35355 3.64645L3.17157 0.464466C2.97631 0.269204 2.65973 0.269204 2.46447 0.464466C2.2692 0.659728 2.2692 0.976311 2.46447 1.17157L5.29289 4L2.46447 6.82843C2.2692 7.02369 2.2692 7.34027 2.46447 7.53553C2.65973 7.7308 2.97631 7.7308 3.17157 7.53553L6.35355 4.35355ZM0 4.5L6 4.5V3.5L0 3.5L0 4.5Z"
                        fill="black" />
                </svg>
            </button>
        </div>
    </div>
