<div class="modal-header">
    <h2>Проточні системи</h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
</div>
<!-- slider for product items start-->
<div class="swiper main-swiper">
    <div class="swiper-wrapper">
        <!-- product 1 start -->
        <div class="swiper-slide active">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Flow-systems/product-1.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>3-х ступеневий фільтр Premium Filtrons</h3>
                    <p>Модель: FLS3 premium</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>2 046.00 грн (55.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Потрійний фільтр Filtrons Premium – доступне рішення для ефективного очищення питної води.
                            Фільтрування здійснюється у 3 стадії, для кожної з яких у фільтрі передбачений окремий
                            картридж. Вода, очищена фільтром, може використовуватися для щоденного пиття, приготування
                            страв та напоїв, поливу квітів, а також для пароутворення в побутових приладах (прасці,
                            пароварці, зволожувачі повітря). Фільтр поєднує у собі високу якість та доступну вартість
                            очищеної води.
                            1 Стадія: Затримує великі частки: пісок, іржу, мул. 2 Стадія: Забезпечує додаткове
                            пом'якшення води. 3 Стадія: На завершення відбувається тонке очищення води в картриджі з
                            брикетованого вугілля. Картридж виготовлений з кокосового активованого вугілля високої
                            якості, завдяки чому вода стає надзвичайно приємною на смак. Потрійний фільтр для води
                            призначений для доочищення холодної водопровідної води. Для отримання чистої питної води
                            джерельної якості рекомендуємо проводити заміну картриджів кожні 6 місяців комплектом
                            незалежно від об'єму відфільтрованої води.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Тип фільтра: проточний</li>
                            <li>Продуктивність: 1.5 л/хв</li>
                            <li>Тип картриджа: 10 slim</li>
                            <li>Очищення: від вільного хлору, механічних домішок, органічних сполук, заліза, важких
                                металів</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 1 end-->

        <!-- product 2 start -->
        <div class="swiper-slide">
            <div class="modal-body">
                <!-- modal image slider start -->
                <div id="carouselExampleIndicators2" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./src/images/merchandise-page/Flow-systems/product-2.jpg" />
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    </div>
                </div>
                <!-- modal image slider end -->
                <div class="product-description">
                    <h3>3-х ступеневий фільтр Standart Filtrons</h3>
                    <p>Модель: FLS3 standart</p>
                    <div class="price">
                        <h4>Ціна:</h4>
                        <p>2 752.80 грн (74.00 $)</p>
                    </div>
                    <div class="description-text">
                        <p>
                            Комплектація FILTRONS Standart (пом'якшення P5 + CBC + UM, кран крапля) забезпечує
                            універсальне очищення водопровідної води від механічних домішок (іржі, мулу, піску тощо), а
                            також розчинених домішок, таких як вільного хлору, хлорорганічних сполук, пестицидів,
                            нафтопродуктів, важких металів та інших органічних і неорганічних речовин. Усуває неприємні
                            запахи та покращує смак води. Завдяки наявності картриджа з іонообмінною смолою пом'якшує
                            воду.
                        </p>
                        <p>Очищення проводиться в 3 етапи:</p>
                        <ul>
                            <li>1-й ступінь - механічне очищення проводиться картриджем зі спіненого поліпропілену,
                                ступінь фільтрації 5 мкм. Видаляє іржу, частинки мулу, глини, пісок, мікроорганізми,
                                волокна та інші домішки органічного та неорганічного походження.
                                Ресурс: орієнтовно 6000 л.
                            </li>
                            <li>2-й ступінь - пом'якшення, очищення води: видалення солей жорсткості (кальцію та
                                магнію), частково - заліза.
                                Картридж, що пом'якшує, заповнений іонообмінною смолою. Завдяки якій відбувається заміна
                                іонів жорсткості Ca2+ та Mg2+, а також (частково) розчиненого двовалентного заліза -
                                Fe2+ на іони натрію Na+. Дані солі є причиною утворення накипу на приладах, а також
                                нагрівання води. Крім того, розчинене залізо є причиною неприємного запаху та присмаку
                                води.
                                Ресурс: приблизно 6 місяців.
                            </li>
                            <li>3-й ступінь - очищення води від хлору, органічних сполук, запахів, присмаків.
                                Картридж з активованого вугілля шкаралупи кокосових горіхів видаляє з води хлор,
                                органічні та хлорорганічні речовини. Має збільшену можливість адсорбції органічних
                                сполук і вільного хлору, видаляє колір, запах.
                                Ресурс: приблизно 6 місяців.
                            </li>
                        </ul>
                        <p>Ресурс змінних картриджів та мембрани зворотного осмосу наведено орієнтовно та залежить від
                            якості вихідної води.
                        </p>
                        <h4>Характеристика:</h4>
                        <ul>
                            <li>Тип фільтра: проточний</li>
                            <li>Продуктивність: 2-4 л/хв</li>
                            <li>Тип картриджа: 10 slim</li>
                            <li>Очищення: Механічні домішки, хлор, жорсткість, сірководень, залізо</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- product 2 end -->
    </div>
    <!-- slider for product items end-->
    <div class="modal-footer">
        <div class="product-item-slider-controls">
            <button class="swiper-button-prev" id="productItemSliderPrevious"><svg xmlns="http://www.w3.org/2000/svg"
                    width="7" height="8" viewBox="0 0 7 8" fill="none">
                    <path
                        d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM7 3.5L1 3.5V4.5L7 4.5V3.5Z"
                        fill="black" />
                </svg><span>Попередній товар</span>
            </button>
            <button class="swiper-button-next" id="productItemSliderNext"><span>Наступний
                    товар</span><svg xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"
                    fill="none">
                    <path
                        d="M6.35355 4.35355C6.54882 4.15829 6.54882 3.84171 6.35355 3.64645L3.17157 0.464466C2.97631 0.269204 2.65973 0.269204 2.46447 0.464466C2.2692 0.659728 2.2692 0.976311 2.46447 1.17157L5.29289 4L2.46447 6.82843C2.2692 7.02369 2.2692 7.34027 2.46447 7.53553C2.65973 7.7308 2.97631 7.7308 3.17157 7.53553L6.35355 4.35355ZM0 4.5L6 4.5V3.5L0 3.5L0 4.5Z"
                        fill="black" />
                </svg>
            </button>
        </div>
    </div>
